<!DOCTYPE html5>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/agregarProducto.css">
        <% if(product !==null) { %>
            <title>Full Gamer | Editar <%= product.name %>
            </title>
            <% } else { %>
                <title>Full Gamer | Subir producto</title>
                <% } %>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <main>
            <div class="agregar-producto">

                <% if (product !==null) { %>

                    <h1 class="titulo1">Editar <%= product.name %></h1>

                    <form class="formulario-producto" action="/products/<%= product.id %>/edit?_method=PUT"
                        method="POST">


                        <div class="Nombre-producto">
                            <label for="nombre">Nombre del producto:</label>
                            <input type="text" placeholder="Nombre del producto" name="name" id="nombre"
                                value="<%= product.name %>">
                        </div>

                        <div class="descripcion-producto">
                            <label for="descripción">Descripción:</label>
                            <input type="text" placeholder="Descripción" name="description" id="descripcion"
                                value="<%= product.description %>">
                        </div>

                        <div class="imagen-producto">
                            <label for="imagen">Imagen del producto:</label>
                            <input type="file" placeholder="Imagen" name="image" id="imagen" multiple>
                        </div>

                        <div class="categoria-producto">
                            <label for="categoria">Categoría:</label>
                            <select id="categoria" name="category">
                                <option value="mouse" <%= product.category === "Mouse" ? "selected" : "" %>>Mouse</option>
                                <option value="teclado" <%= product.category === "Teclado" ? "selected" : "" %>>Teclado</option>
                                <option value="microfono" <%= product.category === "Micrófono" ? "selected" : "" %>>Micrófono</option>
                                <option value="auriculares" <%= product.category === "Auriculares" ? "selected" : "" %>>Auriculares</option>
                                <option value="mousepad" <%= product.category === "Mouse pad" ? "selected" : "" %>>Mouse pad</option>
                                <option value="gabinete" <%= product.category === "Gabinete" ? "selected" : "" %>>Gabinete</option>
                                <option value="capturadora" <%= product.category === "Capturadora de pantalla" ? "selected" : "" %>>Capturadora de pantalla</option>
                        </div>

                        <div class="precio-produto">
                            <label for="precio">Precio:</label>
                            <input type="number" placeholder="Precio" name="price" id="precio"
                                value="<%= product.price %>">
                        </div>

                        <div class="fecha-producto">
                            <label for="fechaDeSubida">Fecha de subida:</label>
                            <input type="date" placeholder="Fecha" name="date" id="fechaDeSubida"
                                value="<%= product.date %>">
                        </div>

                        <div class="modificar-producto">
                            <button class="form-button" type="submit">Modificar producto</button>
                        </div>

                    </form>

                    <form action="/products/<%= product.id %>?_method=DELETE" method="POST"
                        class="modificar-producto">
                        <button class="form-button" type="submit">Borrar producto</button>
                    </form>



                    <% } else { %>

                        <h1 class="titulo1">Subir productos a la web</h1>

                        <form class="formulario-producto" action="/products/create" method="POST"
                            enctype="multipart/form-data">

                            <div class="Nombre-producto">
                                <label for="nombre">Nombre del producto:</label>
                                <input type="text" placeholder="Nombre del producto" name="name" id="nombre" required>
                            </div>

                            <div class="descripcion-producto">
                                <label for="descripcion">Descripción:</label>
                                <input type="text" placeholder="Descripción" name="description" id="descripcion"
                                    required>
                            </div>

                            <div class="imagen-producto">
                                <label for="Imagen">Imagen del producto:</label>
                                <input type="file" placeholder="Imagen" name="image" id="imagen" required>
                            </div>

                            <div class="categoria-producto">
                                <label for="categoria">Categoría:</label>
                                <select id="categoria" name="category" required>
                                    <option value="mouse">Mouse</option>
                                    <option value="teclado">Teclado</option>
                                    <option value="microfono">Micrófono</option>
                                    <option value="auriculares">Auriculares</option>
                                    <option value="mousepad">Mouse pad</option>
                                    <option value="gabinete">Gabinete</option>
                                    <option value="capturadora">Capturadora de pantalla</option>
                            </div>

                            <div class="precio-produto">
                                <label for="precio">Precio:</label>
                                <input type="number" placeholder="Precio" name="price" id="precio" required>
                            </div>

                            <div class="fecha-producto">
                                <label for="fechaDeSubida">Fecha de subida:</label>
                                <input type="date." placeholder="Fecha" name="date" id="fechaDeSubida"
                                    required>
                            </div>

                            <div class="modificar-producto">
                                <button class="form-button" type="submit">Crear producto</button>
                            </div>

                        </form>

                        <% } %>


        </main>

        <%- include('./partials/footer.ejs') %>

</body>


</html>