<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Full Gamer</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
<main>
        <section id="banner">
            <div class="home-banner">
                <p class="text-1">Todo lo que necesitás para tu setup</p>
                <p class="text-2">Encontralo en <span class="title-banner">FULL GAMER</span></p>
            </div>
            <div class="opacity"></div>
        </section>

        <section id="carousel">
            <div class="products">
                <% products.forEach(product => { %>
                <article class="producto">
                    <img src="/img/<%= product.imagenes[0].name %>" alt="<%= product.name %>">
                        <% if(session && session.role == 8) { %>
                    <a href="/products/<%= product.id %>/edit" class="edit"><i class="fas fa-pen"></i></a>
                    <% } %>
                    <div class="descripcion-producto">
                        <p class="nombre-producto"><%= product.name %></p>
                        <a href="/products/detail/<%= product.id %>">Ver más</a>
                    </div>
                </article>
                <% }) %>
                
            </div>

            <button class="prev"><a href="" class="a-carousel">&#10094;</a></button>
            <button class="next"><a href="" class="a-carousel">&#10095;</a></button>

        </section>

        <% if(locals.session.role === 8) { %>
            <a href="/products/create"><i class="fas fa-plus add"></i></a>
        <% } %>

    
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>