<!DOCTYPE html>

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/login.css">
        <title>Full Gamer | Login</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>

        <main>
            <div id="formulario">
                <h2 id="Ingresar">Ingresar</h2>
                <form method="POST" action="/users/login">
                    <% if(locals && locals.errorMessages && locals.errorMessages !==null) { %>
                        <label for="email"></label>
                        <input type="text" name="email" class="email" placeholder="Email" value="<%= old.email %>"
                            required>
                        <span class="feedback">
                            <% if (errorMessages.email) { %>
                                <i class="fas fa-skull-crossbones"></i>
                                <%= errorMessages.email.msg %>
                                    <% } %>
                        </span>

                        <label for="password"></label>
                        <input type="password" name="password" class="password" placeholder="Contraseña"
                            value="<%= old.password %>" required>
                        <button type="button" class="toggle-password"></button>
                        <span class="feedback">
                            <% if (errorMessages.password) { %>
                                <i class="fas fa-skull-crossbones"></i>
                                <%= errorMessages.password.msg %>
                                    <% } %>
                        </span>
                        <div id="preferencias">
                            <label for="recordarme" class="container-preferencia">
                                <input type="radio" name="recordarme" id="recordarme" <%=old.notificaciones !==undefined
                                    ? "checked" : "" %> > Recordarme
                                <span class="checkmark">...</span>
                            </label>
                        </div>

                        <button type="submit" class="submit">INGRESAR</button>

                        <p>¿Todavía no tienes una cuenta? <a href="/users/register">¡Registrate!</a></p>
                <% } else { %>

                    <label for="email"></label>
                    <input type="email" name="email" class="email" placeholder="Email" required>
                    <span class="feedback"></span>

                    <label for="password"></label>
                    <input type="password" name="password" class="password" placeholder="Contraseña" required>
                    <button type="button" class="toggle-password no-visibility"></button>
                    <span class="feedback"></span>


                    <div id="preferencias">
                        <label for="recordarme" class="container-preferencia">
                            <input type="radio" name="recordarme" id="recordarme"> Recordarme
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <button type="submit" class="submit">INGRESAR</button>

                    <p>¿Todavía no tienes una cuenta? <a href="/users/register">¡Registrate!</a></p>

                    <% } %>
                        </form>
            </div>

            <button type="button" id="google"> <img src="/img/google-logo.png" alt="Logo Google">Log in with
                Google</button>
        </main>

        <%- include('./partials/footer.ejs') %>

</body>

<script src="/js/functions.js"></script>

</html>