<!DOCTYPE html5>
<html lang="en">
    
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/producto.css">
    <title>Full Gamer | Detalle de producto</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
<div id="containers">

<section>
    <img id="foto-chiquita" src="/img/<%= product.image2 %>" alt="foto de producto 2">
    <img id="foto-principal" src="/img/<%= product.image %>" alt="foto de producto 1">
</section>

        <article id="detalles">
            <h1>
                <%= product.name %>
            </h1>

            <h3>$<%= product.price %></h3>

            <img id="pago" src="/img/metodos-de-pago.png" alt="medios de pago">
            <img id="puntaje" src="/img/5-stars-white.png" alt="puntaje del producto">

            <button id="comprar">Comprar</button>

            <section>
                <h3>Descripción</h3>
                    <p>
                        <%= product.description %>
                        </p>
            </section>

        </article>

</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>